@charset "UTF-8";

/* Typical Device Breakpoints

Pequenas telas: até 600px
Celulares: de 600px até 768px
Tablets: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px

*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 80vw;

    }

    section#login > div#imagem {
        float: left; /* A imagem já é uma div com display block. Passa para a esquerda */
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float:right; /* O formulario já é uma div com display block. Passa para a direita */
        width: 70%;
    }

    div.campo {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 960px;
    }

    section#login > div#imagem {
        float: right;
        width: 40%;
        height: 100%;
    }
    
    section#login > div#formulario {
        float: left;
        width: 60%;

    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
    }

    div.campo {
        font-size: 1em;
    }
}

